<div class="btn-container">
    <button (click)="page = 'main'">Main</button>
    <button (click)="page = 'about us'">About us</button>
    <button (click)="page = 'contacts'">Contacts</button>
</div>


<!-- <div [ngSwitch]="page">
    <div *ngSwitchCase="'main'"><app-main></app-main></div>
    <div *ngSwitchCase="'about us'"><app-aboutus></app-aboutus></div>
    <div *ngSwitchCase="'contacts'"><app-contact></app-contact></div>
</div> -->

<div *ngIf="page === 'main'"><app-main></app-main></div>
<div *ngIf="page === 'about us'"><app-aboutus></app-aboutus></div>
<div *ngIf="page === 'contacts'"><app-contact></app-contact></div>