
<div class="menu">
    <button (click)="back()">Back</button>
    <nav>
        <ul>
            <li><a [routerLink]="['/header/main']" routerLinkActive="active">Main</a></li>
            <li><a [routerLink]="['/header/aboutus']" routerLinkActive="active">About Us</a></li>
            <li><a [routerLink]="['/header/products']" routerLinkActive="active">Products</a> </li>
            <li><a [routerLink]="['/header/cart']" routerLinkActive="active">Cart</a></li>
            <button class="login" [routerLink]="['/header/login']" routerLinkActive="active">Login</button>
            <button class="logout" (click)="logout()">Logout</button>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>