
<div class="sidenav">
    <app-sidenav></app-sidenav>
</div>



<!-- <input type="text" [(ngModel)] = "name"> -->
<!-- <div class="box" [class.redBox] = "isRedBox"></div>
<div class="box" [class.redBox] = "!isRedBox"></div>


<input type="checkbox" [(ngModel)] = "isRedBox"> -->

<!-- <div [ngClass]="{
    'box': isBox,
    'redBox': isRedBox
}"></div>

<div>
    <input type="checkbox" [(ngModel)] = "isBox">isBox
</div>

<div>
    <input type="checkbox" [(ngModel)] = "isRedBox">redBox
</div> -->

<!-- <button (click)="browser = 'opera'">Opera</button>
<button (click)="browser = 'chrome'">Chrome</button>
<button (click)="browser = 'ff'">ff</button>


<div [ngSwitch]="browser">
    <div *ngSwitchCase="'opera'">hello opera</div>
    <div *ngSwitchCase="'chrome'">hello chrome</div>
    <div *ngSwitchCase="'ff'">hello ff</div>
</div> -->