<h1>О нас</h1>

<div class="main-container">
    <p>Мы танцевальная студия, котoрая раскроет твой потенциал. 
    В 2011 году 5 уличных танцоров создали команду, с целью развить танцевальный уровень в Казахстане. Отношение к работе, ответственность и полная отдача своему делу, стала основным кредом. Это стало заражать всех кто с нами работал. Теперь ни один артист не хочет просто стоять на сцене пока с ним рядом “Wake Up”.
    Мы хотим, чтобы профессионалов в нашей стране становилось еще больше!</p>
    <img src="https://png.pngitem.com/pimgs/s/113-1132398_transparent-kathak-dance-clipart-group-dance-images-png.png" 
        alt="skincare products" style="width: 800px;">
</div>


